h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #f5f5f5;
  color: #333333;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

img {
  height: auto;
}
#nav{
  min-height: 936px;
}

#nav .menu_mobile {
  float: right;
}
#nav .menu_mobile:hover {
  color: #ffffff;
  background: #f68e31;
}
#nav .logo {
  text-align: center;
  width: 71.875vw;
  float: left;
}
#nav .logo .svg {
  width: 47.1875vw;
  margin-top: 0.78125vw;
}
#nav .search_box_mobile {
  background: #f68e31;
  width: 100%;
  position: absolute;
  top: 14.0625vw;
  color: #ffffff;
  text-align: center;
  font-size: 6.25vw;
  font-weight: 300;
  padding: 17.1875vw 6.25vw 93.75vw;
  display: none;
}
#nav .search_box_mobile > div {
  margin-top: 12.5vw;
  border-bottom: 0.625vw solid #ffffff;
  padding-bottom: 1.09375vw;
}
#nav .search_box_mobile input,
#nav .search_box_mobile button {
  background: #f68e31;
  border: 0;
}
#nav .search_box_mobile ::placeholder {
  color: #ffffff;
  opacity: 1;
}
#nav .search_box_mobile :-ms-input-placeholder {
  color: #ffffff;
}
#nav .search_box_mobile ::-ms-input-placeholder {
  color: #ffffff;
}
#nav .menu {
  padding: 0 0 31.25vw 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 14.0625vw;
  left: 0;
  width: 100%;
  background: #f68e31;
  z-index: 1000;
}
#nav .menu > li {
  border-bottom: 1px solid #c56a56;
  text-align: left;
}
#nav .menu > li > a {
  font-size: 4.375vw;
  font-weight: bold;
  color: #ffffff;
  padding: 2.96875vw 7.8125vw;
  display: block;
  text-decoration: none;
}
#nav .menu > li > a > .fa {
  float: right;
  display: inline-block;
  position: relative;
  top: 0.9375vw;
}
#nav .menu > li > a > .icon {
  display: none;
}
#nav .menu > li > a:hover {
  text-decoration: none;
}
#nav .menu > li .dropdown {
  padding: 0 7.8125vw 0 12.5vw;
  list-style: none;
  display: none;
}
#nav .menu > li .dropdown > li {
  padding: 2.1875vw 3.125vw;
  color: #606060;
  border-bottom: 1px solid #c56a56;
}
#nav .menu > li .dropdown > li > a {
  font-size: 3.90625vw;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
#nav .menu > li .dropdown > li > a > .fa {
  float: right;
  display: inline-block;
  position: relative;
  top: 0.625vw;
}
#nav .menu > li .dropdown > li .dropdown2 {
  list-style: none;
  padding-top: 1.5625vw;
}
#nav .menu > li .dropdown > li .dropdown2 li {
  padding: 0.625vw 0;
}
#nav .menu > li .dropdown > li .dropdown2 li a {
  font-size: 3.90625vw;
  color: #ffffff;
}
#nav .menu > li .dropdown > li .dropdown2 li a:hover {
  text-decoration: none;
}
#nav .menu > li .dropdown > li .dropdown2 .active {
  border: 0;
}
#nav .menu > li .dropdown > li .dropdown2 .active a {
  color: #f68e31;
}
#nav .menu > li .dropdown > li .dropdown2 .active a:hover {
  text-decoration: none;
}
#nav .menu > li .dropdown > li .label {
  color: #ffffff;
  background: #f68e31;
  font-size: 2.1875vw;
  padding: 1.25vw 0;
  margin-right: 0.78125vw;
  width: 7.03125vw;
  text-align: center;
  display: inline-block;
  border-radius: 0;
}
#nav .menu > li .dropdown > li:first-child {
  padding-top: 0;
}
#nav .menu > li .dropdown > li:last-child {
  border: 0;
}
#nav .menu .active {
  background: #97321b;
  padding-bottom: 2.34375vw;
}
#nav .menu .active > a > .fa {
  display: none;
}
#nav .menu .active .dropdown {
  display: block;
}

/*
768px
*/
@media (min-width: 768px) {
  #nav {
    background: #f68e31;
    width: 16.25vw;
    float: right;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    position: inherit;
    height: auto;
    border: 0;
  }
  #nav .logo {
    text-align: center;
    width: auto;
    float: inherit;
  }
  #nav .logo .svg {
    width: 12.5vw;
    margin-top: 0.625vw;
  }
  #nav .menu_mobile {
    padding-top: 0;
    width: 100%;
    height: auto;
  }
  #nav .menu_mobile .menu {
    padding: 0 0;
    list-style: none;
    display: inherit;
    position: inherit;
    top: 0;
    width: auto;
    background: none;
  }
  #nav .menu_mobile .menu > li {
    border-bottom: 1px solid #d6d6d6;
    transition: all .3s linear;
  }
  #nav .menu_mobile .menu > li > a {
    font-size: 1.0625vw;
    font-weight: bold;
    color: #fff;
    padding: 1.1875vw 0.9375vw;
    display: block;
    text-decoration: none;
  }
  #nav .menu_mobile .menu > li > a > .fa {
    display: none;
  }
  #nav .menu_mobile .menu > li > a > .icon {
    width: 1.6875vw;
    height: 1.6875vw;
    margin-right: 0.875vw;
    display: inline-block;
    position: relative;
    top: 0.25vw;
    text-align: center;
  }
  #nav .menu_mobile .menu > li > a > .icon > .svg {
    height: 1.25vw;
  }
  #nav .menu_mobile .menu > li > a > .icon > .svg path,
  #nav .menu_mobile .menu > li > a > .icon > .svg rect,
  #nav .menu_mobile .menu > li > a > .icon > .svg polygon {
    fill: #f68e31 !important;
  }
  #nav .menu_mobile .menu > li > a > .icon .ic_seo {
    width: 1.6875vw;
  }
  #nav .menu_mobile .menu > li > a > .icon .ic_base {
    width: 1.125vw;
  }
  #nav .menu_mobile .menu > li > a > .icon .ic_email {
    width: 1.125vw;
  }
  #nav .menu_mobile .menu > li > a > .icon .ic_campaign {
    width: 1.375vw;
  }
  #nav .menu_mobile .menu > li > a > .icon .ic_event {
    width: 1.3125vw;
  }
  #nav .menu_mobile .menu > li > a:hover {
    text-decoration: none;
  }
  #nav .menu_mobile .menu > li .dropdown {
    padding: 0 0 0 3.4375vw;
    list-style: none;
    display: none;
  }
  #nav .menu_mobile .menu > li .dropdown > li {
    padding: 0.5625vw 0;
    color: #606060;
    border: 0;
  }
  #nav .menu_mobile .menu > li .dropdown > li > a {
    font-size: 0.9375vw;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    display: inline;
  }
  #nav .menu_mobile .menu > li .dropdown > li > a > .fa {
    transition: all .3s linear;
    display: none;
  }
  #nav .menu_mobile .menu > li .dropdown > li > a:hover {
    color: #ffc809;
    text-decoration: none;
  }
  #nav .menu_mobile .menu > li .dropdown > li .dropdown2 {
    padding-top: 0.625vw;
  }
  #nav .menu_mobile .menu > li .dropdown > li .dropdown2 li {
    padding: 0.25vw 0;
  }
  #nav .menu_mobile .menu > li .dropdown > li .dropdown2 li a {
    font-size: 0.875vw;
    color: #fff;
  }
  #nav .menu_mobile .menu > li .dropdown > li .dropdown2 li a:hover {
    font-size: 0.875vw;
    color: #ffc809;
  }
  #nav .menu_mobile .menu > li .dropdown > li .label {
    font-size: 0.5vw;
    padding: 0.25vw 0;
    margin-right: 0.3125vw;
    width: 2.1875vw;
  }
  #nav .menu_mobile .menu > li .dropdown > li:before {
    font-family: FontAwesome;
    content: "\f105";
    font-size: 0.8125vw;
    padding-right: 0.75vw;
    color: #fff;
  }
  #nav .menu_mobile .menu > li .dropdown > li:first-child {
    padding-top: 0;
  }
  #nav .menu_mobile .menu > li .dropdown .active {
    transition: all .3s linear;
    display: block;
  }
  #nav .menu_mobile .menu > li .dropdown .active a {
    color: #ffc809;
  }
  #nav .menu_mobile .menu .active {
    background: #de653e;
    padding-bottom: 0.9375vw;
  }
  #nav .menu_mobile .menu .active .dropdown {
    display: block;
  }
  #nav .menu_mobile:hover {
    background: none;
  }
  #nav:before {
    width: 16.25vw;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    right: 0;
    background: #ffffff;
  }
  .nav-hide {
    width: 0 !important;
  }
  .nav-hide:before {
    width: 0;
  }
  .top {
    border-bottom: 1px solid #d6d6d6;
    height: 4.6875vw;
  }
}

@media (max-width: 768px) {
  #nav {
    height: auto !important;
  }
  .menu_mobile {
    width: 12.0625vw !important;
  }
  .search_mobile {
    width: 12.0625vw !important;
  }
  .nav {
    display: block;
    margin: 0 3.125vw 0;
  }
  .plus {
    /* width: 59px;
                height: 43px; */
    padding-top: 0.5vw;
    font-size: 1.0625vw;
    border: 0;
    position: inherit;
    top: 0;
    right: 0;
    color: #ffffff;
    /* background: #f68e31; */
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
  }
  .campaign_plus,
  .add_event {
    width: 59px;
    height: 43px;
    padding-top: 0.5vw;
    font-size: 1.0625vw;
    border: 0;
    position: inherit;
    top: 0;
    right: 0;
    color: #ffffff;
    background: #f68e31;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
  }
  /*.nav-tabs > li{
                float: none !important;
            }*/
  #content .content-wrapper .page-content .tab .nav .active a {
    background: #323232;
    color: #ffffff;
  }
  #content .content-wrapper .page-content .tab .nav > li a {
    text-transform: uppercase;
    font-size: 1.125vw;
    font-weight: 700;
    text-align: center;
    color: #737373;
    background: #dbdbdb;
    /*padding: 0.75vw 0;*/
    border-radius: 0;
  }
  .glyphicon {
    top: 6px !important;
    font-size: 12px !important;
  }

  .box_hilite {
    padding: 0 !important;
  }
  #nav .menu > li .dropdown > li .dropdown2 li a {
    font-size: 2.90625vw !important;
    color: #ffffff !important;
  }
  #nav .logo {
    width: 75% !important;
  }
}

html {
  height: 100%;
}
body {
  height: 100%;
}
#nav {
  height: 100%;
}
.close {
  font-size: 37px;
  color: #000;
  position: absolute;
  right: 65px;
  top: 6px;
  display: none;
}
@media (max-width: 768px) {
  #nav .search_mobile {
    border-right: none;
  }
  .search_mobile.visible-xs {
    display: none;
  }
  .mynav {
    height: 110px;
  }

  .close:hover {
    color: #f68e31;
  }
  .close.ok {
    display: block;
  }

  #nav .menu.ok {
    display: block;
  }
}

@media (max-width: 768px) {
  .mynav {
    height: 85px;
  }
  .glyphicon.glyphicon-search {
    display: none;
  }
  .top_moblie {
    display: inline-block;
    width: 75%;
  }
}

.icon > img {
  width: 20px;
}
@media (max-width: 320px) {
  .mynav {
    height: 70px;
  }
}
